<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="assets/img/logo.png">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" 
      rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://unpkg.com/vue-i18n@9/dist/vue-i18n.global.prod.js"></script>
    
    <script src="assets/js/lang/en.js" defer></script>
    <script src="assets/js/lang/zh.js" defer></script>
    <script src="assets/js/lang/zh_cn.js" defer></script>
    <script src="assets/js/lang/de.js" defer></script>
    <script src="assets/js/lang/ru.js" defer></script>
    <script src="assets/js/app.js" defer></script>
    <script src="assets/js/carousel.js" defer></script>

    <title>Minecraft Transit Railway</title>
  </head>
  <body>
    <header>
      <nav :class="{'background': !scrolled}"
        :style="{'--nav-bar-mobile-display': showNavbar ? 'block' : 'none'}">
        <div class="nav-container">
          <div class="nav-brand">
            <img class="nav-brand-img" src="assets/img/logo.png" alt="Minecraft Transit Railway Logo">
            <span class="nav-brand-text">{{ $t("title") }}</span>
          </div>
          <div class="nav-mobile">
            <button id="nav-hamburger" aria-label="Open Navigation" v-on:click="showNavbar = !showNavbar"></button>
          </div>
          <ul id="nav-list" class="nav-list">
            <li><a href="#">{{ $t("home") }}</a></li>
            <li><a href="#download">{{ $t("act.download.nav") }}</a></li>
            <li><a href="#wiki">{{ $t("act.wiki.nav") }}</a></li>
            <li><a href="#discord">{{ $t("act.discord.nav") }}</a></li>
            <li><a href="#patreon">{{ $t("act.patreon.nav") }}</a></li>
            <li>
              <div class="locale-changer">
                <select v-model="$i18n.locale">
                  <option v-for="(content, lang) in langs" :value="lang">
                    {{ content["lang.name"] }}
                  </option>
                </select>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      
      <div class="banner">
        <div class="banner-content">
          <div class="banner-content-train">
            <img src="assets/img/train1.png">
          </div>
          <div class="banner-content-text">
            <h1>{{ $t("banner.title") }}</h1>
            <p>{{ $t("banner.subtitle") }}</p>
            
            <div class="button-row">
              <a href="#download" class="link-button download">{{ $t("act.download.button") }}</a>
              <a href="#discord" class="link-button discord">{{ $t("act.discord.button") }}</a>
              <a href="#wiki" class="link-button wiki">{{ $t("act.wiki.button") }}</a>
            </div>
          </div>
        </div>
        <div class="banner-background">
          <div class="carousel-container">
            <div class="carousel-content" id="carousel-content">
              <img src="assets/img/carousel/1.jpg" />
              <img src="assets/img/carousel/2.jpg" />
              <img src="assets/img/carousel/3.jpg" />
              <img src="assets/img/carousel/4.jpg" />
              <img src="assets/img/carousel/5.jpg" />
              <img src="assets/img/carousel/6.jpg" />
              <img src="assets/img/carousel/7.jpg" />
              <img src="assets/img/carousel/8.jpg" />
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <main>
      <div class="content">
        <div class="features">
          <h1 class="header">{{ $t("feature.title") }}</h1>
          <div class="feature">
            <div class="feature-wrapper">
              <div class="feature-img">
                <img src="assets/img/features/1.png">
              </div>
              <div class="feature-text">
                <h2>{{ $t("feature.1.title") }}</h2>
                <i18n-t keypath="feature.1.p.1" tag="p"><br></i18n-t>
                <br>
                <i18n-t keypath="feature.1.p.2" tag="p">
                  <a href="https://www.youtube.com/watch?v=KIsuRxNW3Lc&list=PLp0jZgheSlXv_vjilwnbrOtdbmgvz1VkC">{{ $t("feature.1.p.3") }}</a>
                </i18n-t>
              </div>
            </div>
          </div>
          
          <div class="feature">
            <div class="feature-wrapper reversed">
              <div class="feature-img">
                <img src="assets/img/features/2.jpg">
              </div>
              <div class="feature-text">
                <h2>{{ $t("feature.2.title") }}</h2>
                <p>{{ $t("feature.2.p.1") }}</p>
                <br>
                <p>{{ $t("feature.2.p.2") }}</p>
              </div>
            </div>
          </div>
          
          <div class="feature">
            <div class="feature-wrapper">
              <div class="feature-img">
                <img src="assets/img/features/3.png">
              </div>
              <div class="feature-text">
                <h2>{{ $t("feature.3.title") }}</h2>
                <p>{{ $t("feature.3.p.1") }}</p>
                <br>
                <p>{{ $t("feature.3.p.2") }}</p>
              </div>
            </div>
          </div>
          
          <div class="feature">
            <div class="feature-wrapper reversed">
              <div class="feature-img">
                <img src="assets/img/features/4.png">
              </div>
              <div class="feature-text">
                <h2>{{ $t("feature.4.title") }}</h2>
                <p>{{ $t("feature.4.p.1") }}</p>
                <br>
                <p>{{ $t("feature.4.p.2") }}</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="cards">
          <div class="card download" id="download">
            <div class="text">
              <h3>{{ $t("act.download.title") }}</h3>
              <p>{{ $t("act.download.p.1") }}</p>
              <i18n-t keypath="act.download.p.2" tag="p">
                <span class="text-icon fabric">&nbsp;{{ $t("act.download.fabric") }}</span>
                <span class="text-icon forge">&nbsp;{{ $t("act.download.forge") }}</span>
              </i18n-t>
            </div>
            
            <div class="button-row">
              <a href="https://modrinth.com/mod/minecraft-transit-railway" class="link-button download modrinth">{{ $t("act.download.modrinth") }}</a>
              <a href="https://www.curseforge.com/minecraft/mc-mods/minecraft-transit-railway" class="link-button download curseforge">{{ $t("act.download.curseforge") }}</a>
            </div>
          </div>
          <div class="card wiki" id="wiki">
            <div class="text">
              <h3>{{ $t("act.wiki.title") }}</h3>
              <p>{{ $t("act.wiki.p.1") }}</p>
            </div>
            
            <div class="button-row">
              <a href="https://wiki.minecrafttransitrailway.com/" class="link-button wiki">{{ $t("act.wiki.button") }}</a>
            </div>
          </div>
          <div class="card discord" id="discord">
            <div class="text">
              <h3>{{ $t("act.discord.title") }}</h3>
              <p>{{ $t("act.discord.p.1") }}</p>
            </div>
            <div class="button-row">
              <a href="https://discord.gg/PVZ2nfUaTW" class="link-button discord">{{ $t("act.discord.button") }}</a>
            </div>
          </div>
          <div class="card patreon" id="patreon">
            <div class="text">
              <h3>{{ $t("act.patreon.title") }}</h3>
              <p>{{ $t("act.patreon.p.1") }}</p>
            </div>
            
            <div class="button-row">
              <!-- The new patreon logo is :/ -->
              <a href="https://www.patreon.com/minecraft_transit_railway" class="link-button patreon">{{ $t("act.patreon.button") }}</a>
            </div>
          </div>
        </div>
      </div>
    </main>
    
    <footer>
      <p>{{ $t("footer.p.1") }}<br>{{ $t("footer.p.2") }}</p>
    </footer>
  </body>
</html>
