.button-row {
    margin-top: 1rem;
}

.link-button {
    display: inline-block;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.4rem;
    margin-right: 0.5rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding: 0.5rem 0.8rem;
    box-shadow: var(--gentle-shadow);
    text-decoration: none !important;
    transition: filter 0.2s;
}

.link-button:hover {
    filter: brightness(0.85) contrast(1.5) grayscale(35%);
}

.link-button::before {
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    vertical-align: text-bottom;
}

.link-button.download {
    background-color: var(--color-download);
    color: var(--text-color-white);
}

.link-button.download::before {
    background-image: url("../img/icon/download.svg");
    width: 1.25em;
    height: 1.25em;
    margin-right: 0.35em;
}

.link-button.download.modrinth {
    background-color: var(--color-download-mr);
    color: var(--text-color-white);
}

.link-button.download.modrinth::before {
    background-image: url("../img/icon/modrinth.svg");
    width: 1.25em;
    height: 1.25em;
    margin-right: 0.35em;
}

.link-button.download.curseforge {
    background-color: var(--color-download-cf);
    color: var(--text-color-white);
}

.link-button.download.curseforge::before {
    background-image: url("../img/icon/curseforge.svg");
    width: 1.25em;
    height: 1.25em;
    margin-right: 0.35em;
}

.link-button.discord {
    background-color: var(--color-discord);
    color: var(--text-color-white);
}

.link-button.discord::before {
    background-image: url("../img/icon/discord.svg");
    width: 1.25em;
    height: 1.25em;
    margin-right: 0.35em;
}

.link-button.wiki {
    background-color: var(--color-wiki);
    color: var(--text-color-white);
}

.link-button.wiki::before {
    background-image: url("../img/icon/wiki.svg");
    width: 1.25em;
    height: 1.25em;
    margin-right: 0.35em;
}

.link-button.patreon {
    background-color: var(--color-patreon);
    color: var(--text-color-white);
}

.link-button-icon {
    display: inline-block;
    vertical-align: top;
    height: 1.25em;
    margin-right: 0.25em;
}